@charset "UTF-8";
body {
  margin: 0px;
  padding: 10px;
}

.list {
  list-style: none;
  padding-left: 0px;
}
.list li {
  padding: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 0px solid black;
}
.list li:hover {
  background-color: blue;
  color: white;
}

/* 두번째 과제 */
.alert {
  margin-top: 50px;
}
.alert div {
  align-items: center;
  display: flex;
  padding: 30px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.alert p {
  margin-top: 15px;
}
.alert p:nth-child(1) {
  margin-right: 5px;
  font-weight: 600;
}
.alert .box_1 {
  height: 50px;
  background-color: rgb(184, 219, 184);
  color: rgb(4, 97, 4);
}
.alert .box_2 {
  height: 50px;
  background-color: rgb(191, 224, 255);
  color: rgb(84, 84, 187);
}
.alert .box_3 {
  height: 50px;
  background-color: rgb(255, 235, 213);
  color: rgb(194, 129, 9);
}

/* 세번째 과제*/
.container {
  margin-top: 50px;
}

.col-6 {
  background-color: rgb(223, 219, 219);
  height: 50px;
  border: 1px solid rgb(180, 177, 177);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.col-4 {
  display: flex;
  align-items: center;
  background-color: rgb(223, 219, 219);
  height: 50px;
  border: 1px solid rgb(180, 177, 177);
}

@-webkit-keyframes 움찔움찔 {
  0% {
    transform: rotateZ(0deg);
    /* 애니메이션이 0%만큼 동작시 */
  }
  30% {
    transform: rotateZ(-10deg);
    /* 애니메이션이 50%만큼 동작시 */
  }
  70% {
    transform: rotateZ(10deg);
    /* 애니메이션이 100%만큼 동작시 */
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes 움찔움찔 {
  0% {
    transform: rotateZ(0deg);
    /* 애니메이션이 0%만큼 동작시 */
  }
  30% {
    transform: rotateZ(-10deg);
    /* 애니메이션이 50%만큼 동작시 */
  }
  70% {
    transform: rotateZ(10deg);
    /* 애니메이션이 100%만큼 동작시 */
  }
  100% {
    transform: rotateZ(0deg);
  }
}
button {
  height: 80px;
  width: 100px;
  color: white;
  margin-top: 100px;
  background-color: rgb(145, 241, 241);
  border: none;
  border-radius: 5px;
}

button:hover {
  -webkit-animation-name: 움찔움찔;
          animation-name: 움찔움찔;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes 플러스 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}

@keyframes 플러스 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}
.plus {
  width: 100px;
  font-size: 100px;
}

.plus:hover {
  -webkit-animation-name: 플러스;
          animation-name: 플러스;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.black {
  padding: 50px;
  margin-left: -160px;
  margin-top: 100px;
  background-color: black;
  width: 250px;
  height: 300px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.black span {
  margin-bottom: 20px;
}

.black span:first-child {
  font-weight: 600;
  margin-left: 130px;
}

.black:hover {
  margin-left: -10px;
  text-align: center;
}

@-webkit-keyframes 블랙 {}

@keyframes 블랙 {}/*# sourceMappingURL=test.css.map */